body{
    background-color: rgb(21, 21, 21);
}

.navbar {
    padding: 1% 0;
}

main {
    padding: 0 28%;
}

#weather-table {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure both divs have same height */
    width: 100%;
    color: #fff;
    background-color: rgb(82, 82, 82);
}

#temperature {
    font-size: 80px;
    font-weight: bold;
}

#real-feel-temperature {
    font-size: 26px;
}

#termperature-table {
    /* Let the left table follow its initial width */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table {
    /* Let the second table extend to the end */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table p {
    /* Adjust styling as needed */
    display: flex;
    justify-content: left;
    align-items: center;
}



.section-heading {
    text-transform: uppercase;
}



