body{
    background-color: rgb(255, 255, 255);
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    padding: 0 32%;
}

#weather-div {
    margin-top: 10%;
    width: 100%;
    color: #000000;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}

#weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-weather-text {
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
    color: #515151;
}

#location-logo {
    width: 20px;
}

.city {
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
    color: #515151;
}

#weather-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.temperature {
    font-size: 80px;
    font-weight: bold;
    font-stretch: ultra-condensed;
}

.weather {
    font-size: 18px;
}

#termperature-table {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table p {
    display: flex;
    justify-content: left;
    align-items: center;
}

.weather-stats {
    width: 100%;
    padding: 0;
    border-bottom: solid 2px rgb(194, 194, 194); 
}

.weather-section-heading {
    text-transform: uppercase;
}
