body{
    background-color: #000000;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    padding: 0 32%;
}

#weather-div {
    margin-top: 10%;
    width: 100%;
    color: #000000;
    background-color: #121212;
    border-radius: 10px;
    
    color: #fff;
}

#weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-weather-text {
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
}

#location-logo {
    width: 20px;
}

.city {
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
}

#weather-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.temperature {
    font-size: 80px;
    font-weight: bold;
    font-stretch: ultra-condensed;
}

.weather {
    font-size: 18px;
}

#termperature-table {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#more-info-table p {
    display: flex;
    justify-content: left;
    align-items: center;
}

.weather-stats {
    width: 100%;
    padding: 0;
    border-bottom: solid 2px rgb(41, 41, 41); 
}

.weather-section-heading {
    text-transform: uppercase;
}

.weather-info {
    display: flex;
    align-items: center;
}

#weather-icon {
    width: 80px; /* Adjust the size as needed */
    height: 80px;
    margin-right: 5px; /* Add some spacing between the icon and the text */
}

.weather-stats {
    display: flex;
    justify-content: space-between;
}

.weather-stats p {
    margin-right: 10px; /* Add some space between the category and the value */
}
